name: Presubmit
on: [push, pull_request]

jobs:
  run_tests_gcc:
    runs-on: ubuntu-latest
    name: Test THAPI Spack install
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Checkout Spack
      uses: actions/checkout@v4
      with:
        repository: spack/spack
        ref: releases/latest
        path: external/spack
    - name: Activate, add, and install
      run: |
        . external/spack/share/spack/setup-env.sh
        spack repo add ./
        spack install thapi
    - name: Install thapi v0.0.7
      run: |
        . external/spack/share/spack/setup-env.sh
        spack install thapi@0.0.7
    - name: Install thapi v0.0.8
      run: |
        . external/spack/share/spack/setup-env.sh
        spack install thapi@0.0.8
    - name: Install thapi v0.0.9
      run: |
        . external/spack/share/spack/setup-env.sh
        spack install thapi@0.0.9
    - name: Install thapi v0.0.10
      run: |
        . external/spack/share/spack/setup-env.sh
        spack install thapi@0.0.10
    - name: Install thapi v0.0.11
      run: |
        . external/spack/share/spack/setup-env.sh
        spack install thapi@0.0.11
    - name: Install thapi master
      run: |
        . external/spack/share/spack/setup-env.sh
        spack install thapi@master ^lttng-tools@master ^lttng-ust@master ^babeltrace2@master
